{%extends "photo_layout.html"%}
{%block content%}
                            <!-- Title & Description -->
                            <h1 class="wow fadeInLeft"> Welcome to My Reel!</h1>
                            <p class="wow bounceIn" data-wow-delay="1s">
                                <span>I </span>
                                <span>AM </span>
                                <span><a href="#"> FILM </a></span>
                            </p>

                        </div>

                        <div class="header-btns">

                            <!-- Header buttons -->
                            <a class="btn btn-download wow fadeInLeft" href="https://www.youtube.com/channel/UC0vvRCPV8yFDXLhtIaUCSvg/playlists?view_as=subscriber">My Youtube</a>
                            <a class="btn btn-tour wow fadeInRight" href="#"> Take A Tour
                                <i class="fa fa-angle-down"></i>
                            </a>


                        </div>

                    </div>

                    <div class="col-md-3 col-md-offset-1">

                        <div class="header-iphone">


                            <!-- Header iPhone -->
                            

                        </div>


                    </div>


                </div>


            </div>


        </div>

    </header>

    <!-- Playlist -->
    <section class="download-now" id="DOWNLOAD">

        <div class="container">

            <div class="row">

                <div class="col-md-10 col-md-offset-1">

                    <div class="section-title">


                        <h2> My playlist </h2>
                        <p>Vestibulum congue eros ac neque dignissim, vel imperdiet neque consectetur. Maecenas
                            condimentum cursus maximus. Praesent eu diam efficitur</p>

                    </div>


                </div>


            </div>

        </div>

        <hr>

        <!-- MUSIC VIDEO PLAYLIST -->
        <div class="container">

            <div class="row">

                <div class="col-md-6 wow fadeInUp" data-wow-duration="1s">
                    <div class="video">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/w4_c4UAx7Tk?list=PLCokK57LyhCFve-dQzQIYVv7bXHBsKgKw"
                            frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                        </iframe>
                    </div>
                </div>
                <div class="col-md-6">
                
                    <div class="section-title">
                
                
                        <h2> MUSIC VIDEO PLAYLIST </h2>
                        <p>Vestibulum congue eros ac neque dignissim, vel imperdiet neque consectetur. Maecenas
                            condimentum cursus maximus. Praesent eu diam efficitur</p>
                
                    </div>


            </div>
        </div>
       
        
        
        </div>

        <hr>
        
        <!-- EVENT PLAYLIST -->
        <div class="container">
        
            <div class="row">
        
                <div class="col-md-6">
                    <div class="video">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/L4jY1hiMBLc?list=PLCokK57LyhCFWYGc8tosfpP2MUEwT_alk"
                            frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                        </iframe>
                    </div>
                </div>
                <div class="col-md-6">
        
                    <div class="section-title">
        
        
                        <h2> Event Playlist</h2>
                        <p>Vestibulum congue eros ac neque dignissim, vel imperdiet neque consectetur. Maecenas
                            condimentum cursus maximus. Praesent eu diam efficitur</p>
        
                    </div>
        
        
                </div>
            </div>
        
        
        
        </div>

        <hr>
        
        <!-- AD CAMPAIGN PLAYLIST -->
        <div class="container">
        
            <div class="row">
        
                <div class="col-md-6">
                    <div class="video">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/pr_RXICR76I?list=PLCokK57LyhCG2S9r-TFBzOHS70JcLedlJ"
                            frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                        </iframe>
                    </div>
                </div>
                <div class="col-md-6">
        
                    <div class="section-title">
        
        
                        <h2> AD CAMPAIGN PLAYLIST</h2>
                        <p>Vestibulum congue eros ac neque dignissim, vel imperdiet neque consectetur. Maecenas
                            condimentum cursus maximus. Praesent eu diam efficitur</p>
        
                    </div>
        
        
                </div>
            </div>
        
        
        
        </div>

        <hr>
        
        <!-- BEHIND THE SCENE PLAYLIST -->
        <div class="container">
        
            <div class="row">
        
                <div class="col-md-6">
                    <div class="video">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/pr_RXICR76I?list=PLCokK57LyhCG2S9r-TFBzOHS70JcLedlJ"
                            frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                        </iframe>
                    </div>
                </div>
                <div class="col-md-6">
        
                    <div class="section-title">
        
        
                        <h2> BEHIND THE SCENE PLAYLIST</h2>
                        <p>Vestibulum congue eros ac neque dignissim, vel imperdiet neque consectetur. Maecenas
                            condimentum cursus maximus. Praesent eu diam efficitur</p>
        
                    </div>
        
        
                </div>
            </div>
        
        
        
        </div>

        <hr>

        <!-- INTERVIEW PLAYLIST -->
        <div class="container">
        
            <div class="row">
        
                <div class="col-md-6">
                    <div class="video">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/pr_RXICR76I?list=PLCokK57LyhCG2S9r-TFBzOHS70JcLedlJ"
                            frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                        </iframe>
                    </div>
                </div>
                <div class="col-md-6">
        
                    <div class="section-title">
        
        
                        <h2> INTERVIEW PLAYLIST</h2>
                        <p>Vestibulum congue eros ac neque dignissim, vel imperdiet neque consectetur. Maecenas
                            condimentum cursus maximus. Praesent eu diam efficitur</p>
        
                    </div>
        
        
                </div>
            </div>
        
        
        
        </div>

        <hr>

        <!-- DOCUMENTARY PLAYLIST -->
        <div class="container">
        
            <div class="row">
        
                <div class="col-md-6 ">
                    <div class="video">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/2h4q6j1ZCFw?list=PLCokK57LyhCGfyVmS3-oMFdko36Mp4TrB"
                            frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                        </iframe>
                    </div>
                </div>
                <div class="col-md-6">
        
                    <div class="section-title">
        
        
                        <h2> DOCUMENTARY PLAYLIST</h2>
                        <p>Vestibulum congue eros ac neque dignissim, vel imperdiet neque consectetur. Maecenas
                            condimentum cursus maximus. Praesent eu diam efficitur</p>
        
                    </div>
        
        
                </div>
            </div>
        
        
        
        </div>

        <hr>

    </section>

    <!-- Available On -->
    <section class="available-on">

        <div class="container ">

            <div class="row">

                <div class="col-md-6">

                    <div class="available-title">
                        <h2>Social Media Profile </h2>

                        <p>MY Videos are also Available On the following social media, Do well to check them out</p>

                    </div>

                </div>
                <div class="col-md-6">

                    <div class="row">

                        <a href="#">

                            <div class="col-md-3 no-padding">
                                <div class="available-on-item">

                                    <i class="fa fa-instagram"></i>
                                    <div class="available-on-inner">

                                        <h2>Instagram</h2>

                                    </div>

                                </div>

                            </div>


                        </a>



                        <a href="#">

                            <div class="col-md-3 no-padding">
                                <div class="available-on-item">

                                    <i class="fa fa-twitter"></i>
                                    <div class="available-on-inner">

                                        <h2> Twitter</h2>

                                    </div>

                                </div>

                            </div>


                        </a>

                        <a href="#">

                            <div class="col-md-3 no-padding">
                                <div class="available-on-item">

                                    <i class="fa fa-youtube"></i>
                                    <div class="available-on-inner">

                                        <h2> Youtube</h2>

                                    </div>

                                </div>

                            </div>


                        </a>

                    </div>


                </div>



            </div>
        </div>

    </section>

    {%endblock%}