{%extends "layout.html"%}
{%block content%}
                            <!-- Title & Description -->
                            <h1 class="wow fadeInLeft"> Welcome to my Website!</h1>
                            <p  class="wow bounceIn" data-wow-delay="1s"> 
                                <span >I </span> 
                                <span >AM </span> 
                                <span ><a href="#">OPONE CHUKWUYENUM</a></span>
                            </p>

                        </div>

                        <div class="header-btns">

                            <!-- Header buttons -->
                            <a class="btn btn-download wow fadeInLeft" href="https://github.com/officialyenum">My GitHub</a>
                            <a class="btn btn-tour wow fadeInRight" href="#SCREENS"> Take A Tour
                                <i class="fa fa-angle-down"></i>
                            </a>


                        </div>

                    </div>

                    <div class="col-md-3 col-md-offset-1">

                        <div class="header-iphone">


                            <!-- Header iPhone -->

                        </div>


                    </div>


                </div>


            </div>


        </div>

    </header>


    <!-- About Us -->
    <section id="ABOUT">

        <div class="container">

            <div class="row">

                <div class="col-md-10 col-md-offset-1">

                    <!-- About us Title & Description -->
                    <div class="section-title">

                        <h2> WHO AM I ?</h2>
                        <p><span><a href="#">Opone Chukwuyenum</a></span> is also known as <span><a href="#">ChuckyMagic</a></span> a highly imaginative creative, skilled in programming, filmmaking and photography.</p>
                        <p><button class="btn btn-default btn-about" type="button"><a href="{{ url_for('about') }}">view more...</a></button></p>
                    </div>
                    
                </div>

            </div>


        </div>

        <div class="choose-us-wraper">

            <div class="container">

                <div class="row">

                    <div class="col-md-6">

                        <!-- About iphone -->
                        <div class="about-iphone wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".5s">

                            <img class="img-responsive" src="static/images/admin1.jpg"  alt="iphone">

                        </div>

                    </div>

                    <div class="col-md-6">

                        <!-- Why choose us title -->
                        <div class="choose-us-title">


                            <h2> Portfolio</h2>
                            <p>Listed below are my skills, click on the view projects... button to get more information about my past projects in various fields.</p>
                        </div>

                        <!-- why choose us description -->
                        <div class="choose-us-des">

                            <!-- choose us item 1 -->
                            <div class="choose-us-item">

                                <!-- choose us item icon -->
                                <div><i class="fa fa-code"></i></div>

                                <!-- choose us item title & des -->
                                <h3>PROGRAMMING</h3>
                                <p>Solid background knowledge in computer development software (JAVA, PYTHON), markup language (HTML5), Style Sheet (CSS3), Bootstrap and JavaScript.  </p>
                                <p><button class="btn btn-default btn-about" type="button"><a href="{{ url_for('programming') }}">view projects...</a></button></p>

                            </div>


                            <!-- choose us item 2 -->
                            <div class="choose-us-item">

                                <!-- choose us item icon -->
                                <div><i class="fa fa-film"></i></div>

                                <!-- choose us item title & des -->
                                <h3>FILMMAKING</h3>
                                <p>Knowledge of the latest camera, video, audio equipments and editing softwares. Directing, Editing and more.</p>
                                <p><button class="btn btn-default btn-about" type="button"><a href="{{ url_for('film') }}">view projects...</a></button></p>

                            </div>


                            <!-- choose us item 3 -->
                            <div class="choose-us-item">

                                <!-- choose us item icon -->
                                <div><i class="fa fa-camera"></i></div>

                                <!-- choose us item title & des -->
                                <h3>PHOTOGRAPHY</h3>
                                <p>Dedicated photographer with experience in both professional and freelance photography. </p>
                                <p><button class="btn btn-default btn-about" type="button"><a href="{{ url_for('photo') }}">view projects...</a></button></p>

                            </div>



                        </div>




                    </div>

                </div>

            </div>

        </div>


    </section>

    <!-- Purchase Now -->
    <section class="purchase-now">
    
        <div class="container">
    
            <div class="row wow fadeInLeftBig" data-wow-duration="1s">
    
                <div class="col-md-9">
    
                    <p style="text-align:center">Subscribe to my channel</p>
    
                </div>
    
                <div class="col-md-3">
    
                    <a class="btn btn-danger btn-pruchase-now" href="#">YOUTUBE</a>
    
                </div>
    
    
            </div>
    
        </div>
    
    </section>

    <!-- Screens -->
    <section class="screens" id="SCREENS">

        <div class="container">

            <div class="row">

                <div class="col-md-10 col-md-offset-1">

                    <div class="section-title">

                        <h2> Photo Gallery </h2>
                        <p>An exhibition of my pictures. click button below to view more collections
                        </p>
                        <p><button class="btn btn-default btn-about" type="button"><a href="{{ url_for('photo') }}">view Gallery...</a></button></p>
                    </div>

                </div>

            </div>


        </div>

        <div class="screen-slider">

            <div class="container">

                <div class="row">

                    <div class="bxslider" style="text-align: center">

                        <div class="item">
                            <img src="static/images/a1.jpg" alt="screen">

                        </div>

                        <div class="item">
                            <img src="static/images/a2.jpg" alt="screen">

                        </div>

                        <div class="item">
                            <img src="static/images/a3.jpg" alt="screen">

                        </div>

                        <div class="item">
                            <img src="static/images/a4.jpg" alt="screen">
                        </div>

                        <div class="item">
                            <img src="static/images/a6.jpg" alt="screen">
                        </div>

                        <div class="item">
                            <img src="static/images/a7.jpg" alt="screen">
                        </div>

                    </div>

                </div>
            </div>



        </div>



    </section>

    <!-- Counters -->
    <section class="counter">

        <div class="counter-overlay">

            <div class="container wow bounceInLeft" data-wow-duration="1s">

                <div class="row text-center">

                    <div class="col-md-3">

                        <div class="counter-item">

                            <div><i class="fa fa-magic"></i></div>
                            <h2><span class="counter-num"> 89</span><span>%</span></h2>
                            <p>Skill</p>
                        </div>

                    </div>


                    <div class="col-md-3">

                        <div class="counter-item">

                            <div><i class="fa fa-plug"></i></div>
                            <h2><span class="counter-num"> 94 </span><span>%</span></h2>
                            <p>Work Ethics</p>
                        </div>

                    </div>

                    <div class="col-md-3">

                        <div class="counter-item">

                            <div><i class="fa fa-thumbs-up"></i></div>
                            <h2><span class="counter-num"> 99 </span><span>%</span></h2>
                            <p>Social</p>
                        </div>

                    </div>


                    <div class="col-md-3">

                        <div class="counter-item">

                            <div><i class="fa fa-users"></i></div>
                            <h2><span class="counter-num"> 80 </span><span>%</span></h2>
                            <p>Team Player</p>
                        </div>

                    </div>



                </div>



            </div>

        </div>


    </section>

    <!-- Download Now -->
    <section class="download-now" id="DOWNLOAD">

        <div class="container">

            <div class="row">

                <div class="col-md-10 col-md-offset-1">

                    <div class="section-title">


                        <h2> My Video Reel </h2>
                        <p>This is  a video presentation designed to showcase my videos. 
                            <p>To view more VIDEO projects you can check my playlist by clicking the button below</p>
                        </p>
                        
                        <p><button class="btn btn-default btn-about" type="button"><a href="{{ url_for('film') }}">view Playlist...</a></button></p>

                    </div>


                </div>


            </div>

        </div>

        <div class="container">

            <div class="row">

                <div class="col-md-10 col-md-offset-1">
                    <div class="video" style="text-align: center;">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/pr_RXICR76I?list=PLCokK57LyhCG2S9r-TFBzOHS70JcLedlJ"
                            frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="">
                        </iframe>
                    </div>
                </div>


            </div>


        </div>



    </section>

    <!-- Available On -->
    <section class="available-on">

        <div class="container">

            <div class="row">

                <div class="col-md-6">

                    <div class="available-title">
                        <h2>Social Media Profile </h2>

                        <p>Available On the following social media, do well to check out my profiles and follow me</p>

                    </div>

                </div>
                <div class="col-md-6">

                    <div class="row">

                        <a href="#">

                            <div class="col-md-3 no-padding">
                                <div class="available-on-item">

                                    <i class="fa fa-instagram"></i>
                                    <div class="available-on-inner">

                                        <h2>Instagram</h2>

                                    </div>

                                </div>

                            </div>


                        </a>



                        <a href="#">

                            <div class="col-md-3 no-padding">
                                <div class="available-on-item">

                                    <i class="fa fa-twitter"></i>
                                    <div class="available-on-inner">

                                        <h2> Twitter</h2>

                                    </div>

                                </div>

                            </div>


                        </a>

                        <a href="#">

                            <div class="col-md-3 no-padding">
                                <div class="available-on-item">

                                    <i class="fa fa-youtube"></i>
                                    <div class="available-on-inner">

                                        <h2> Youtube</h2>

                                    </div>

                                </div>

                            </div>


                        </a>

                        <a href="#">
                        
                            <div class="col-md-3 no-padding">
                                <div class="available-on-item">
                        
                                    <i class="fa fa-github"></i>
                                    <div class="available-on-inner">
                        
                                        <h2> GitHub</h2>
                        
                                    </div>
                        
                                </div>
                        
                            </div>
                        
                        
                        </a>



                    </div>


                </div>



            </div>
        </div>

    </section>

    {%endblock%}