{%extends "layout.html"%}
{%block content%}
                            <!-- Title & Description -->
                            <h1 class="wow fadeInLeft"> Welcome to my Hub!</h1>
                            <p class="wow bounceIn" data-wow-delay="1s">
                                <span>I</span>
                                <span>AM </span>
                                <span><a href="#"> PROGRAMMER </a></span>
                            </p>

                        </div>

                        <div class="header-btns">

                            <!-- Header buttons -->
                            <a class="btn btn-download wow fadeInLeft" href="#">My GitHub</a>
                            <a class="btn btn-tour wow fadeInRight" href="#"> Take A Tour
                                <i class="fa fa-angle-down"></i>
                            </a>


                        </div>

                    </div>

                    <div class="col-md-3 col-md-offset-1">

                        <div class="header-iphone">


                            <!-- Header iPhone -->
    
                        </div>


                    </div>


                </div>


            </div>


        </div>

    </header>

    <!-- About Us -->
    <section id="ABOUT">
    
        <div class="container">
    
            <div class="row">
    
                <div class="col-md-10 col-md-offset-1">
    
                    <!-- About us Title & Description -->
                    <div class="section-title">
    
                        <h2>PROGRAMMING PROJECT</h2>

                    </div>
    
                </div>
    
            </div>
    
    
        </div>

        <hr>
        <!-- Motion detector app info -->
        <div class="choose-us-wraper">
    
            <div class="container">
    
                <div class="row">
    
                    <div class="col-md-6">
    
                        <!-- About iphone -->
                        <div class="about-info">
    
                            <img class="img-responsive" src="{{url_for('static',filename='images/motion-detection-app.png')}}" alt="iphone">
    
                        </div>
    
                    </div>
    
                    <div class="col-md-6 wow">
    
                        <!-- Why choose us title -->
                        <div class="choose-us-title">
                            <h2>Motion Detector</h2>
                        </div>
    
                        <!-- why choose us description -->
                        <div class="choose-us-des">
    
                            <!-- choose us item 1 -->
                            <div class="choose-us-item">
    
                                <!-- choose us item icon -->
                                <div><i class="fa fa-cogs"></i></div>
    
                                <!-- choose us item title & des -->
                                <h3>Features</h3>
                                <p>This CLI App allows you detect movement, track faces etc. it can also be used as a motion sensor
                                    it can be embedded in any camera device ...
                                </p>
                            </div>
    
    
                            <!-- choose us item 2 -->
                            <div class="choose-us-item">
    
                                <!-- choose us item icon -->
                                <div><i class="fa fa-laptop"></i></div>
    
                                <!-- choose us item title & des -->
                                <h3>Program/Language Used</h3>
                                <p>PYTHON</p>
                            </div>
    
    
                            <!-- choose us item 3 -->
                            <div class="choose-us-item">
    
                                <!-- choose us item icon -->
                                <div><i class="fa fa-plus"></i></div>
    
                                <!-- choose us item title & des -->
                                <h3>Extra info</h3>
                                <p>Extra information</p>
                                <p><button class="btn btn-default btn-about" type="button"><a href="#">GitHub</a></button></p>

                            </div>
    
    
    
                        </div>
    
    
    
    
                    </div>
    
                </div>
    
            </div>
    
        </div>

        <hr>
        <!-- Dictionary app info -->
        <div class="choose-us-wraper">
        
            <div class="container">
        
                <div class="row">
        
                    <div class="col-md-6">
                    
                        <!-- About iphone -->
                        <div class="about-info">
                    
                            <img class="img-responsive" src="{{url_for('static',filename='images/dictionary.jpg')}}" alt="iphone">
                    
                        </div>
                    
                    </div>
        
                    <div class="col-md-6">
        
                        <!-- Why choose us title -->
                        <div class="choose-us-title">
                            <h2>Dictionary APP</h2>
                        </div>
        
                        <!-- why choose us description -->
                        <div class="choose-us-des">
        
                            <!-- choose us item 1 -->
                            <div class="choose-us-item">
        
                                <!-- choose us item icon -->
                                <div><i class="fa fa-cogs"></i></div>
        
                                <!-- choose us item title & des -->
                                <h3>Features</h3>
                                <p>This CLI App allows you enter a word, takes the word and checks if it exists in the "data.json"
                                file, if it does it returns the value of the word which is the meaning</p>
                            </div>
        
        
                            <!-- choose us item 2 -->
                            <div class="choose-us-item">
        
                                <!-- choose us item icon -->
                                <div><i class="fa fa-laptop"></i></div>
        
                                <!-- choose us item title & des -->
                                <h3>Program/Language Used</h3>
                                <p>PYTHON</p>
                            </div>
        
        
                            <!-- choose us item 3 -->
                            <div class="choose-us-item">
        
                                <!-- choose us item icon -->
                                <div><i class="fa fa-plus"></i></div>
        
                                <!-- choose us item title & des -->
                                <h3>Extra info</h3>
                                <p>Extra information</p>
                                <p><button class="btn btn-default btn-about" type="button"><a href="https://github.com/officialyenum/SampleDictionaryAPP.git">GitHub</a></button></p>
        
                            </div>
        
        
        
                        </div>
        
        
        
        
                    </div>
        
                </div>
        
            </div>
        
        </div>
        
        <hr>
        <!-- Website Blocker app info -->
        <div class="choose-us-wraper">
        
            <div class="container">
        
                <div class="row">
        
                    <div class="col-md-6">
        
                        <!-- About iphone -->
                        <div class="about-info">
        
                            <img class="img-responsive" src="{{url_for('static',filename='images/website-blocker-app.jpg')}}" alt="iphone">
        
                        </div>
        
                    </div>
        
                    <div class="col-md-6">
        
                        <!-- Why choose us title -->
                        <div class="choose-us-title">
                            <h2>Website Blocker</h2>
                        </div>
        
                        <!-- why choose us description -->
                        <div class="choose-us-des">
        
                            <!-- choose us item 1 -->
                            <div class="choose-us-item">
        
                                <!-- choose us item icon -->
                                <div><i class="fa fa-cogs"></i></div>
        
                                <!-- choose us item title & des -->
                                <h3>Features</h3>
                                <p>This program allows you block certain websites on your computer over a period of time, Mostly used in offices to regulate staffs from using social media websites while at work. It is a background processing app</p>
                            </div>
        
        
                            <!-- choose us item 2 -->
                            <div class="choose-us-item">
        
                                <!-- choose us item icon -->
                                <div><i class="fa fa-laptop"></i></div>
        
                                <!-- choose us item title & des -->
                                <h3>Program/Language Used</h3>
                                <p>PYTHON</p>
                            </div>
        
        
                            <!-- choose us item 3 -->
                            <div class="choose-us-item">
        
                                <!-- choose us item icon -->
                                <div><i class="fa fa-plus"></i></div>
        
                                <!-- choose us item title & des -->
                                <h3>Extra info</h3>
                                <p>Extra information</p>
                                <p><button class="btn btn-default btn-about" type="button"><a href="https://github.com/officialyenum/SampleWebsiteBlocker">GitHub</a></button></p>
        
                            </div>
        
        
        
                        </div>
        
        
        
        
                    </div>
        
                </div>
        
            </div>
        
        </div>
        <hr>

    
    
    </section>

    <!-- Available On -->
    <section class="available-on">

        <div class="container wow bounceInRight" data-wow-duration="1s">

            <div class="row">

                <div class="col-md-6">

                    <div class="available-title">
                        <h2>Social Media Profile </h2>

                        <p>Available On the following social media, do well to check out my profiles and follow me</p>

                    </div>

                </div>
                <div class="col-md-6">

                    <div class="row">

                        <a href="#">

                            <div class="col-md-3 no-padding">
                                <div class="available-on-item">

                                    <i class="fa fa-instagram"></i>
                                    <div class="available-on-inner">

                                        <h2>Instagram</h2>

                                    </div>

                                </div>

                            </div>


                        </a>



                        <a href="#">

                            <div class="col-md-3 no-padding">
                                <div class="available-on-item">

                                    <i class="fa fa-twitter"></i>
                                    <div class="available-on-inner">

                                        <h2> Twitter</h2>

                                    </div>

                                </div>

                            </div>


                        </a>

                        <a href="#">

                            <div class="col-md-3 no-padding">
                                <div class="available-on-item">

                                    <i class="fa fa-youtube"></i>
                                    <div class="available-on-inner">

                                        <h2> Youtube</h2>

                                    </div>

                                </div>

                            </div>


                        </a>

                        <a href="#">

                            <div class="col-md-3 no-padding">
                                <div class="available-on-item">

                                    <i class="fa fa-github"></i>
                                    <div class="available-on-inner">

                                        <h2> GitHub</h2>

                                    </div>

                                </div>

                            </div>


                        </a>



                    </div>


                </div>



            </div>
        </div>

    </section>

    {%endblock%}